.contents {
    display: flex;
    flex-wrap: nowrap;
}

.content_aside_nav {
    width: 20%;
    height: 100vh;
    display: flex;
    position: sticky;
    left: 0;
    top: 20px;
    border-right: 1px solid var(--green-primary);
}

.content_aside_nav .navigation {  
    min-height: 0%;
    display: flex;
    padding: 1.5em;
    flex-wrap: wrap;
    margin-top: 50px;
}

.navigation {
    display: flex;
    flex-direction: column;
}

.navigation_section {
    border-bottom: 2px solid var(--color-footer);
    transition: .5s;
}

.navigation_section:hover {
    background-color: var(--color-footer);
}

.navigation_section a {
    text-decoration: none;
    color: var(--white-primary);
    font-family: 'Open Sans';
}

.navigation_section ul {
    list-style: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.navigation_section ul {
    max-height: 500px;
}


.navigation_section ul li {
    margin-left: 10px;
}

.navigation_section h3 {
    font-size: 1.1rem;
    font-family: 'Open Sans';
    margin-top: 20px;
    margin-bottom: 10px;
}

.content_page {
    width: 100%;
    padding-block: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.content_page .container_content {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--color-footer);
    border: 3px solid var(--green-primary);
    border-radius: 10px;
    padding-block: 20px;
    padding-inline: 30px;
    margin-top: 60px;
}

.container_content h1 {
    font-size: 24px;
    color: var(--white-primary);
    font-family: 'Press Start 2P';
    margin-top: 40px;
    margin-bottom: 30px;
    font-weight: bold;
}

.container_content h2 {
    font-size: 16px;
    color: var(--green-primary);
    font-family: 'Press Start 2P';
    font-weight: bold;
}

.container_content h2 span {
    color: var(--white-primary);
}

.container_content h3 {
    font-size: 13px;
    margin-top: -10px;
    color: var(--green-primary);
    font-family: 'Press Start 2P';
    font-weight: bold;
}

.container_content p {
    color: var(--white-primary);
    font-weight: 500;
    font-size: 18px;
}

.navigation_section {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.title_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: var(--white-primary);
}

.chevron {
    font-size: 1rem;
    margin-left: 10px;
    color: var(--white-primary);
    transition: transform 0.3s ease;
}

.expanded {
    background-color: var(--color-footer);
}


.navigation_section ul {
    list-style: none;
    padding-left: 20px;
    margin-top: 10px;
}

.navigation_section ul li {
    margin-bottom: 5px;
}

.navigation_section ul li a {
    text-decoration: none;
    color: var(--white-primary);
}

.navigation_section h3 {
    font-size: 1.2rem;
    font-family: 'Open Sans';
    margin-top: 0;
    margin-bottom: 10px;
}


.contents {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}


.toggle_button {
    position: absolute;
    right: -33px;
    top: 50vh;
    background-color: var(--green-primary);
    color: var(--white-primary);
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1001;
    transition: transform 0.3s ease-in-out;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.content_aside_nav {
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: sticky;
    left: 0;
    top: 20px;
    border-right: 1px solid var(--green-primary);
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}


.collapsed {
    width: 0;
    transform: translateX(-100%);
}

.collapsed .content_aside_nav {
    width: 0;
    overflow: hidden; 
    transition: width 0.3s ease-in-out;
}

.collapsed + .content_aside_nav .navigation_section,
.collapsed + .content_aside_nav h3,
.collapsed + .content_aside_nav ul li {
    display: none; 
}

.collapsed .navigation_section,
.collapsed .navigation_section * {
    display: none;
}

.collapsed + .content_page {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out, margin-right 0.3s ease-in-out;
}

.collapsed ~ .content_page {
    width: 90%;
    transition: width 0.3s ease-in-out;
}

.navigation_section .chevron {
    font-size: 1rem;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.expanded .chevron {
    transform: rotate(0deg);
}


@media (max-width: 1120px) {
    .content_page .container_content {
        border: none;
        background-color: var(--color-background);
    }

    .content_aside_nav {
        display: none;
    }

    .content_page .container_content {
        width: 100%;
    }
}