.footer {
    border-top: #51BA4F 2px solid;
    background-color: #272B30;
    color: #FFF;
    padding: 4em;
    text-align: center;
}

.copy_right {
    margin-top: 2em;
}

.copy_right span {
    font-weight: bold;
    color: #51BA4F;
}