.footer {
    min-height: 300px;
    border-top: var(--green-primary) 2px solid;
    background-color: var(--color-footer);
    color: var(--white-primary);
    padding: 4em;
    text-align: center;
}

.copy_right {
    margin-top: 2em;
}

.copy_right span {
    font-weight: bold;
    color: var(--green-primary);
}