.title_module {
    display: flex;
    justify-content: flex-start;
    margin-block: 20px;
}

.topic_title {
    margin-top: 40px;
}

.topic {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.topic hr {
    color: #fff;
    margin-block: 20px;
}

.topic h2  {
    margin-block: 30px;
}

.topic h3 {
    margin-block: 10px !important;
}

.topic p {
    margin-top: 10px;
    text-align: justify;
}

.topic p span {
    color: #51BA4F;
}

.topic ul {
    text-align: left;
    color: #fff;
    margin-block: 15px;
    font-size: 1em;
    background-color: #4c535a;
    border-radius: 5px;
    width: 65vw;
    padding: 10px;
}

.topic li {
    margin-block: 10px;
    margin-left: 1.5rem;
}

.topic li span {
    color: #51BA4F;
}

.tableContainer {
    display: flex;
    justify-content: center;
}

.tableBordered {
    border-collapse: collapse;
    width: 100%;
    color: #fff;
    width: 65vw;
    margin-block: 20px;
}

.tableBordered th, .tableBordered td {
    border: 2px solid white;
    padding: 8px;
}

.tableBordered td {
    background-color: #4c535a;
}

.tableHeader {
    background-color: #51BA4F;
}

.topic .codeblock {
    width: 65vw;
    background-color: #000;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    overflow-x: auto;
    font-family: monospace;
    color: #f8f8f2;
    margin-block: 25px;
}

.buttonContainerRight {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.buttonContainerRight a {
    background-color: #51BA4F;
    color: #fff;
    text-decoration: none;
    padding-inline: 15px;
    padding-block: 10px;
    border-radius: 5px;
    transition: .5s;
}

.buttonContainerRight a:hover {
    background-color: #2d662c;
}
