:root {
  --color-background: #1B1E21;
  --color-footer: #272B30;
  --green-primary: #51BA4F;
  --white-primary: #ffffff;
  --black-primary: #000000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open-Sans', sans-serif;
  scroll-behavior: smooth;
  scroll-margin-top: 90px;
}

html, body, #root {
  background-color: #1B1E21;
  height: 100%;
}

